#chart svg rect.gradient {
    fill:url(#grad);
}

#chart svg rect.track-inset {

    stroke-width: 8px;
}
#chart svg rect.track-overlay {
    stroke: white;
    stroke-width: 40px;
    stroke-opacity: 0;
    cursor: crosshair;
}
#chart svg .handle {
    fill: white;
}
#chart svg rect.track-overlay, #chart svg rect.track, #chart svg rect.track-inset {
    stroke-linecap: round;
}